numpy==1.26.4
torch==2.4.1+cu121
torchvision==0.19.1+cu121
yacs==0.1.8
einops==0.3.0
opencv-python-headless==4.10.0.84
pylsd-nova==1.2.0
tqdm==4.64.0
scipy==1.11.4
termcolor==1.1.0
shapely==1.8.5.post1
imageio==2.19.2
open3d==0.18.0
gdown==4.4.0
gradio==3.0.5
fastapi==0.124.4
uvicorn[standard]==0.33.0
python-multipart==0.0.20
pydantic-settings==2.8.1
